HELP.md
.mvn/wrapper/maven-wrapper.jar

# Target folders
**/target/
#java-base-parent.iml/java-base-core/target/site/jacoco/jacoco.csv
#java-base-bom/target/
# Compiled class files
*.class

# Generated JARs, WARs, EARs
*.jar
*.war

# Maven wrapper
.mvn/
mvnw
mvnw.cmd
*.ear

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# -------------------------------
# Logs / Temp
# -------------------------------
*.log
*.tmp
*.swp
*.DS_Store
*.bak

# -------------------------------
# OS-specific
# -------------------------------
Thumbs.db
ehthumbs.db
Desktop.ini


